:root{
     --color1: #D89584;
     --color2: #F4F4F4;
}
body{
     margin: 0;
     font-family: Arial;
}
h2{
     text-align: center;
     margin: 0 0 80px;
     font-size: 34px;
}
div.separator1{
     background-color: #949494;
     height: 1px;
     width: 400px;
     margin: auto;
}
.with_separator2{
     position: relative;
     padding-left: 16px;
}
.with_separator2::before{
     content: "";
     position: absolute;
     left: 0;
     top: 0;
     background-color: var(--color1);
     height: 50px;
     width: 4px;
     flex-shrink: 0;
}
div.bottom_triangle{
     margin-top: -1px;
     clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
     height: 200px;
}
div.top_triangle{
     margin-bottom: -1px;
     clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
     height: 200px;
}
div.color2{
     background-color: var(--color2);
}
div.cover{
     background-image: url(cover_overlay_up.png), url(cover_overlay_down.png), url(cover.jpg);
     background-position: top left, top 120px center, 0;
     background-size:  300px, 100% 100%, cover;
     background-repeat: no-repeat;
     text-align: center;
}
img.cover_profile{
     display: block;
     margin: 0 auto;
     height: 200px;
     padding: 50px 0 0;
}
div.cover h1{
     font-size: 42px;
     color: white;
}
div.cover p{
     color: lightgray;
}
div.cover_contact{
     position: absolute;
     top: 25px;
     left: 30px;
     border-left: 4px solid var(--color1);
}
div.cover_contact a{
     display: block;
     text-align: left;
     padding-left: 10px;
     color: white;
     font-size: 21px;
}
div.cover_contact a:first-child{
     padding-bottom: 20px;
}
a.contact_button{
     display: inline-block;
     text-align: center;
     color: var(--color1);
     background-color: #00000040;
     border: 3px solid var(--color1);
     padding: 8px 20px;
     margin: 10px 0 30px;;
     text-decoration: none;
}
a.contact_button:hover{
     color: white;
     border-color: white;
}
div.section1{
     padding-top: 60px;
}
div.section1 p{
     text-align: center;
     margin: 0 auto;
     padding-top: 30px;
     max-width: 600px;
     font-size: 28px;
     color: #656565;
     line-height: 1.5;
}
div.section2_content{
     display: flex;
     justify-content: center;
     padding: 0 12%;
     gap: 50px;

}
div.section2 img{
     width: 41%;
     height: 100%;
}
.separator2_centered::before{
     top: 50%;
     transform: translateY(-50%);
}
div.section2 p{
     margin: 0;
     font-size: 20px;
     max-width: 800px;
}
div.section2 a{
     display: block;
     margin-top: 30px;
     font-size: 16px;
}
div.section3_content{
    display: flex;
    justify-content: center;
    gap: 10vw;
    padding-bottom: 80px;
}
div.section3_content div{
     text-align: center;
}
div.section3_content img{
     width: 30vw;
     height: auto;
     display: block;
     border-radius: 8px;
}
div.section3_content a.text{
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-left: 16px;
     width: 30vw;
}

/* Mutual */

div.section4{
     padding: 80px 50px;
}
div.section4_frame{
     margin: auto;
     padding: 50px 20px;
     max-width: 1000px;
     box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
     height: 200px;
}
div.section4_content{
     display: flex;
     justify-content: center;
     gap: 50px;
     margin-top: -60px;
     font-size: 22px;
}
div.section4_content img{
     margin-top: -40px;
     height: 170px;
}
div.section4_content div{
     margin-top: 22px;
}
div.section4_content p{
     margin: 0;
}

/* Portfolio */

div.portfolio-header{    
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 150px;
     width: 100%;
     background: url(header.jpg);
     background-size: cover;
}
div.portfolio-header p{
     margin-left: 50px;
     border-left: 4px solid var(--color1);
     padding-left: 20px;
     font-size: 30px;
     font-weight: bold;
     color: #fff;
}
div.portfolio-header a{
     margin: 0 50px 0 0;
}
div.portfolio-section1{
     position: relative;
     padding-top: 60px;
}
div.portfolio-section1 a{
     position: absolute;
     top: 40px;
     left: 50px;
     color: var(--color1);
     font-size: 22px;
}
div.portfolio-section1 h1{
     margin-bottom: 10px;
     font-size: 50px;
     text-align: center;
}
div.portfolio-section1 div{
     margin-bottom: 20px;
     width: 200px;
}
div.portfolio-section1 h2{
     margin: 0;
     font-size: 26px;
     text-align: center;
     font-weight: normal;
}
div.portfolio-section2{
     margin-top: 50px;
     text-align: center;
}
div.portfolio-section2_row{
     display: flex;
     justify-content: center;
     text-align: left;
}
div.portfolio-section2_row p{
     margin: 0 ;
     width: 80vw;
     max-width: 1000px; 
     font-size: 20px;
}
div.portfolio-section2 img{
     width: 80vw;
     max-width: 1000px; 
}
div.portfolio-section2 a{
     font-size: 24px;
     width: fit-content;
}
div.portfolio-section2_link{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 50px;
     margin: 50px;
}
div.mobile_only{
     display: none;
}

@media only screen and (max-width: 768px){
     h2{
          margin: 0 0 40px;
          font-size: 28px;
     }
     div.separator1{
          width: 60%;
     }
     div.bottom_triangle{
          height: 100px;
     }
     div.top_triangle{
          height: 100px;
     }
     div.cover{
          background-size:  165px, 100% 100%, cover;
     }
     img.cover_profile{
          height: 120px;
          padding: 70px 0 0;
     }
     div.cover h1{
          margin: 10px;
          font-size: 34px;
     }
     div.cover_contact{
          top: 15px;
          left: 15px;
     }
     div.cover_contact a{
          font-size: 14px;
     }
     div.cover_contact a:first-child{
          padding-bottom: 10px;
     }
     div.section1{
          padding-top: 30px;
     }
     div.section1 p{
          padding: 20px;
          font-size: 20px;
     }
     div.section2_content{
          flex-direction: column;
          align-items: center; 
          padding: 0 15%;
     }
     div.section2 img{
          width: 100%;
     }
     div.section2 p{
          font-size: 18px;
     }
     div.section3_content{
        flex-direction: column;
        align-items: center;
     }
     div.section3_content img{
          width: 60vw;
     }
     div.section3_content a.text{
          width: 60vw;
     }

     /* Mutual */

     div.section4{
          padding: 0px;
     }
     div.section4_frame{
          margin: 0;
          padding: 50px 20px;;
          box-shadow: none;
          height: auto;
     }
     div.section4_content{
          margin-top: 0px;
          gap: 20px;
          font-size: 16px;
     }
     div.section4_content img{
          margin-top: -20px;
          height: 100px;
     }
     div.section4_content div{
          margin-top: 0;
     }
     div.section4_content p{
          margin: 0;
     }

     /* Portfolio */

     div.portfolio-header p{
          margin-left: 20px;
          padding-left: 10px;
          font-size: 26px;
     }
     div.portfolio-header a{
          margin: 0 20px 0 0;
     }
     div.portfolio-section1{
          padding-top: 30px;
     }
     div.portfolio-section1 a{
          top: 20px;
          left: 25px;
          font-size: 20px;
     }
     div.portfolio-section1 h1{
          margin-bottom: 0;
          font-size: 40px;
     }
     div.portfolio-section1 div{
          margin-bottom: 10px;
          width: 200px;
     }
     div.portfolio-section1 h2{
          font-size: 20px;
     }
     div.portfolio-section2{
          margin-top: 20px;
     }
     div.portfolio-section2_row p{
          font-size: 18px;
     }
     div.portfolio-section2 a{
          font-size: 16px;
     }
     div.portfolio-section2_link {
          gap: 0;
     }
     div.mobile_only{
          display: block;
     }
}